doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href="./css/bootstrapcss/bootstrap.css")
  link(rel='stylesheet' href="./css/main.css")
  title Ufarm
body(style='background-image: url(./images/UFARM_login_page.png); background-size: cover;')
    nav.navbar.navbar-expand-lg
     .container-fluid(style='margin-left: 70px; margin-top: 0px; font-size: 25px;')
      a.navbar-brand(href='/index.html')
        img(src='./Images/U+FARM+Logo.png' width='160px')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='../index.html') Home
          li.nav-item
            a.nav-link(href='#') Products
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') Blog
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Account
            ul.dropdown-menu
              li
                a.dropdown-item(href='login.html') Login
              li
                a.dropdown-item(href='reglanding.html') Sign up
          li.nav-item
            a.nav-link(href='#') About
    .col-6(style='margin-left: 100px; margin-top: 10px;')
     .register
      .card-header(style='font-size: 25px; text-align: center;')
        | Welcome to 
        img(src='./Images/U+FARM+Logo.png' width='100px' style='margin-top: -12px;')
      br
      p(style='font-size: 20px;') Agricultural Officer Registration Form
      .card-body(style='margin-top: 25px; font-size: 20px;')
        form#register.form(method='post' name='registration' action='/aoregister')
          .row
            .mb-3.col-sm-6
                label.form-label(for='uniquenumber') Unique Number
                input#uniquenumber.form-control(type='uniquenumber' name='uniquenumber')
            .mb-3.col-sm-6
                label.form-label(for='ward') Ward
                input#ward.form-control(type='text' name='ward')
            .mb-3.col-sm-6
                label.form-label(for='firstName') First Name
                input#firstname.form-control(type='text' name='firstname')
            .mb-3.col-sm-6
                label.form-label(for='lastName') Last Name
                input#lastname.form-control(type='text' name='lastname')
            .mb-3.col-sm-6
                label.form-label(for='dob') Date of birth
                input#dateofbirth.form-control(type='text' name='dateofbirth')
            .mb-3.col-sm-6
                label(for='gender form-label') Gender:
                .radio
                input#gender1(type='radio' name='gender' autocomplete='off' value='male' checked='')
                span Male
                input#gender2(type='radio' name='gender' autocomplete='off' value='female')
                span Female
            .mb-3.col-sm-6
                label.form-label(for='nin') NIN
                input#nin.form-control(type='text' name='nin')
            .mb-3.col-sm-6
                label.form-label(for='telephone') Phone Number
                input#telephone.form-control(type='text' name='telephone')
            .mb-3.col-sm-6
                label.form-label(for='activity') Activity
                input#activity.form-control(type='text' name='activity')
            .mb-3.col-sm-6
                label.form-label(for='regdate') Date of Registration
                input#regdate.form-control(type='text' name='regdate')
            .mb-3.col-sm-6
                label.form-label(for='password') Password
                input#password1.form-control(type='password' name='password')
            .mb-3.col-sm-6
                label.form-label(for='passwordagain') Password (Again)
                input#password2.form-control(type='password' name='passwordagain')
            .mb-3.form-check
              input#exampleCheck1.form-check-input(type='checkbox')
              label.form-check-label(for='exampleCheck1') Check me out
            button.btn.btn-primary(type='submit') Submit 
script(src='./js/bootstrapjs/bootstrap.bundle.js')
script(src='./js/validation.js')
