doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/bootstrapcss/bootstrap.css')
  link(rel='stylesheet' href='./css/main.css')
  title Ufarm
body(style='background-image: url(./images/UFARM_login_page.png); background-size: cover;')
  nav.navbar.navbar-expand-lg
    .container-fluid(style='margin-left: 70px; margin-top: 0px; font-size: 25px;')
      a.navbar-brand(href='/index')
        img(src='./Images/U+FARM+Logo.png' width='160px')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(aria-current='page' href='/index') Home
          li.nav-item
            a.nav-link(href='/products') Products
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') Blog
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Account
            ul.dropdown-menu
              li
                a.dropdown-item(href='#') Login
              li
                a.dropdown-item(href='/reglanding') Sign up
          li.nav-item
            a.nav-link(href='#') About
  .col-3(style='margin-left: 100px; margin-top: 50px;')
    .login
      .card-header(style='font-size: 25px; text-align: center;')
        | Welcome to 
        img(src='./Images/U+FARM+Logo.png' width='100px' style='margin-top: -12px;')
      br
      p(style='font-size: 20px;') Login to access your account
      .card-body(style='margin-top: 25px; font-size: 20px;')
        form#login.form(method='post' name='signin' action='/login')
          .mb-3
            label.form-label(for='uniquenumber') Unique Number
            input#unique.form-control(type='text' name='uniquenumber' placeholder='Enter your Unique Number ')
          .mb-3
            label.form-label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password' name='password')
          .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Check me out
          button.btn.btn-primary(type='submit' name='login') Log In
        br
        p
          | Don&apos;t have an account with us? 
          br
          a(href='/reglanding' style='text-decoration: none;') Register now
footer.footer
script(src='./js/bootstrapjs/bootstrap.bundle.js')
//- script(src='./js/validation.js')
