doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrapcss/bootstrap.css')
  link(rel='stylesheet' href='/css/aofficer.css')
  title Agricultural Officer Dashboard
nav.navbar.bg-light.fixed-top
  .container-fluid
    a.navbar-brand(href='#') Agricultural Officer Dash Board
    a.navbar-brand(href='#')
      img(src='/Images/U+FARM+Logo.png' width='120px' style='margin-left: 1100px;')
    button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
      span.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
      .offcanvas-header(style='background-color: green;')
        h3#offcanvasNavbarLabel.offcanvas-title
          img(src='/Images/U+FARM+Logo.png' width='200px')
        button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-body
        ul.navbar-nav.justify-content-end.flex-grow-1.pe-3.sidebar
          li.nav-item
            a.nav-link(aria-current='page' href='foregister') FARMER ONE REGISTRATION
          li.nav-item
            a.nav-link(href='FarmerOneList') VIEW FARMER ONE LIST
          li.nav-item
            a.nav-link(href='FarmerOneList') UPDATE FARMER ONE DETAILS
          li.nav-item
            form(method='post' action='/logout')
              button.btn.btn-primary.sidebtn(type='submit') Log out
.container-fluid.form-style(style='margin-top: 100px;')
    form#signup.form(action='/produce/update?id='+product._id name='produceupdate' method='POST')
        h3 Update Produce 
        hr
        .row
            .col
                .form-field(style='margin-top: 10px; width: 24%; border: green;')
                    label.form-label(for='producename') Product Name:
                    input#producename.form-control(type='producename' name='producename')
        .row
            .col
                .form-field(style='margin-top: 10px;')
                    label(for='')
                        | Price:
                        small  
                    input#price.form-control(type='number' name='price' autocomplete='off' value=product.price)
            .col
                .form-field(style='margin-top: 10px;')
                    label(for='')
                        | Quantity:
                        small  *
                    input#ward.form-control(type='number' name='quantity' autocomplete='off' value=product.quantity)
            .col
                .form-field(style='margin-top: 10px;')
                    label(for='') Mode of Delivery:
                    select.form-control(name='modeofdelivery')
                        option(value="pickup" selected = product.modeofdelivery === 'pickup') Pick Up
                        option(value="homedelivery" selected = product.modeofdelivery === 'homedelivery') Home Delivery
            .col
                .form-field(style='margin-top: 10px;')
                    label Mode of Payment:
                    select.form-control(name='modeofpayment')
                        option(value="cash" selected = product.modeofpayment === 'cash') Cash
                        option(value="mobilemoney" selected = product.modeofpayment === 'mobilemoney') Mobile Money   
            .form-field(style='margin-top: 15px;')
                button.btn.btn-primary.register-btn(type='submit' value='Register' style='border-radius: 30px; width: 200px; background-color: green;') Update 
script(src='/js/bootstrapjs/bootstrap.bundle.js')
