body {
    /* background-image: url(/public/Images/productsbackground.png); */
    /* background-color: green; */
    padding-bottom: 40px;
}

.navbar {
    background-color: #ffffff;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}

.dropdown-item {
    font-size: 20px;
}

.section1 {
    height: 308px;
    width: 700px;
    margin-top: 50px;
    margin-left: 65px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 4px rgb(210, 208, 208);
}

.maincard {
    margin: auto;
    margin-top: 40px;
    width: 1600px;
    height: 1750px;
    border-radius: 50px;
    box-shadow: 0px 0px 150px 150px green;
}

.maincard1 {
    margin: auto;
    margin-top: 200px;
    width: 1600px;
    height: 500px;
    border-radius: 100px;
    box-shadow: 0px 0px 150px 150px green;
}

.stats {
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    background-color: green;
    color: white;
    border-radius: 30px;
}

.vert {
    display: flex;
}

.heading {
    font-size: 20px;
}

.offcanvas-body {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    margin-right: 40px;
    color: grey;
}

.nav-link:hover {
    color: black;
}

.subcard {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 90px;
    margin-top: 40px;
    width: 18rem;
    border-radius: 30px;
    border: #ffffff;
    /* box-shadow: 0px 0px 2px 2px rgb(216, 216, 216); */
}

.subcard:hover {
    box-shadow: 0px 0px 8px 8px rgb(216, 216, 216);
}

.butn {
    border-radius: 30px;
    background-color: #dfdddd;
    color:  rgb(5, 106, 5);
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 0px 4px 4px rgb(7, 155, 7);
}

.butn:hover {
    background-color: #ffffff;
    color:  rgb(5, 106, 5);
    box-shadow: 0px 0px 4px 4px rgb(99, 214, 99);
}

.cardimg {
    margin-left: 20px;
    width: 240px;
    height: 240px;
}

.heading1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color: rgb(4, 4, 4);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}