body {
    background-color: rgb(210, 208, 208);
    padding-bottom: 40px;
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}

.section1 {
    height: 308px;
    width: 700px;
    margin-top: 60px;
    margin-left: 65px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 4px rgb(210, 208, 208);
}

.maincard {
    background-color: green;
    margin: auto;
    margin-top: 50px;
    width: 1600px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 30px rgb(124, 169, 124);
}

.stats {
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    background-color: green;
    color: white;
    border-radius: 30px;
}

.vert {
    display: flex;
}

.heading {
    font-size: 20px;
}

.offcanvas-body {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
}

.sidebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 22px;
}

.sidebtn {
    background-color: #ffffff;
    color:  rgb(5, 106, 5);
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 0px 4px 4px rgb(7, 155, 7);
}

.sidebtn:hover {
    background-color: #ffffff;
    color:  rgb(5, 106, 5);
    box-shadow: 0px 0px 4px 4px rgb(99, 214, 99);
}